body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    width: 100%;
    height: 100%; 
}
body h3{
    margin: 3% 5%;
    font-size: 30px;
}
.navbar {
    background: rgba(17, 17, 16, 0.5);
    height: 12%;

}
.navbar ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
.navbar li{
    padding: 1%;
    margin: 1%;
    border: ridge rgb(235, 223, 235);
    font-weight: 300;
    font-size: 25px;
    color: rgb(235, 223, 235);
}
.navbar ul li:link{
    border: ridge rgb(235, 223, 235);
    color: rgb(235, 223, 235);
}
.navbar ul li:hover{
    background-color: black;
}
header{
    background: url("../images/pexels-burst-373912.jpg") -2100px -550px;
    height: 1070px;
    width: 100%;
    color: whitesmoke;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: 60px;
    height: 40%;
    display: flex;
    margin: 14px;
}
.title h1{
    display: inline-flex;
    justify-content: center;
    font-size: 65px;
    margin-top: 1%;
    width: 100%;
    font-family:"montserrat","piazzolla","raleway";
}
.fas fa-bars{
    margin: 0px 10px;
}
.title i{
    margin: 2%;
    display: none;
}
.bnews {
    font-size: 65%;
    width: 100%;
    background: rgba(173, 173, 171, 0.9);
    display: flex;
    color:black;
}
.bnews h4{
    font-size: 30px;
    margin-left: 8%;
}
.bnews img{
    width: 100%;
    margin-left: 8%;
    margin-right: 5%;
}
.sidebar{
    margin: 1% 4%;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidebar div{
    width:65%;
    font-size: 15px;
    font-weight: 200;
    border-top: 1px solid #808080;
    padding: 10% 1% 0%;
}
.sidebar h2{
    font-size: 18px;
    padding: 0% 6%;
    display: block;
    width: 80%;
}
.main-news {
    font-size: 20px;
    display: flex;
        flex-direction: column;
        align-content: flex-end;
        height: 55%;
}
#main-articles{
    margin: 2%;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#main-articles div{
    height: 50%;
    width: 360px;
    margin: 0% 0%;
    padding: 2%;
    font-size: 15px;
    text-align: justify;
}
#main-articles img{
    height: 35%;
    width: 100%;
}
#main-articles h2{
    font-size: 60px;
}
#main-footer{
    margin-left: 2%;
}
#main-footer ul{
    display: flex;
        flex-direction: row; 
        justify-content: center;
}
#main-footer li{
    padding: 1% 3%;
    margin-left: -2%;
    margin-right: 2%;
    margin-top: 2%;
    font-size: 20px;
    color: beige;
    background-color: black;
    height: 20%;
}
.suscription {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    margin: 3%;
    width: 100%;
    margin: 3% 0%;
    padding: 1% 0%;
}
.suscription label{
    padding: 0% 4%
}
.suscription input{
    width: 50%;
}
@media screen and (max-width:798px){
    nav {
        display: none;
    }
    .title i{
        display: flex;
        font-size: 35px;
    }
    .title h1{
        font-size: 35px;
    }
    #main-articles div {
        width: 360px;
        font-size: 20px;
    }
    .bnews {
        flex-direction: column;
    }
    .sidebar div{
        font-size: 20px;
    }

}
